* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

/* HEADER/NAV SECTION */
header {
  display: inline-block;
  width: 100vw;
  height: 10rem;
}

header nav {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-menu-container {
  display: none;
}

nav .nav-menu-container:hover {
  display: none;
}

nav .nav-logo-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container img {
  width: 80%;
  height: 100%;
}

nav .nav-menus-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menus-container li {
  width: 50%;
  list-style: none;
  color: black;
}

.nav-menus-container li a {
  font-family: "Mallanna";
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: hand;
}

.nav-menus-container li a:hover {
  font-family: "Mallanna";
  color: #e91e63;
  font-size: 1.4rem;
  text-decoration: underline;
}

/* Main section */
main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-brands-title {
  width: auto;
  height: 5rem;
  font-family: "Mallanna";
  font-size: 3.2rem;
  font-weight: bolder;
  text-align: center;
}

.main-brands-list {
  width: 100vw;
  height: auto;
}

.main-brands-list li {
  max-width: 60%;
  height: inherit;
  margin-left: 2rem;
  list-style: circle;
  font-family: "Rokkitt";
  font-size: 2rem;
  color: black;
}

.main-brands-list li a {
  text-decoration: none;
}
