html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* HEADER/NAV SECTION */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10rem;
}

header nav {
  width: inherit;
  max-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-menu-container {
  display: none;
}

nav .nav-menu-container:hover {
  display: none;
}

nav .nav-logo-container {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container img {
  width: 80%;
  height: 100%;
}

nav .nav-menus-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menus-container li {
  width: 50%;
  list-style: none;
  color: black;
}

.nav-menus-container li a {
  font-family: "Mallanna";
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: hand;
}

.nav-menus-container li a:hover {
  font-family: "Mallanna";
  color: #e91e63;
  font-size: 1.4rem;
  text-decoration: underline;
}

/* HAMBURGER MENU */
.panel {
  display: none;
}

.panel.is-active {
  display: none;
}

.panel-btn {
  display: none;
}

.menu {
  display: none;
}

.menu a {
  display: none;
}

.menu a:hover {
  display: none;
}

/* Main section */
main {
  width: 100vw;
  height: auto;
}

main #main-productTypes-container {
  min-width: 80%;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-productTypes-container .main-productTypes-item {
  min-width: 20%;
  max-width: 30%;
  min-height: 10rem;
  max-height: 12rem;
  margin-top: 2rem;
  -webkit-box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-radius 0.3s linear, background-color 0.3s linear;
  transition: border-radius 0.3s linear, background-color 0.3s linear;
}

.main-productTypes-item:hover {
  border-radius: 20px;
  background-color: #e91e63;
}

.main-productTypes-item a {
  width: inherit;
  height: auto;
  font-family: "Mallanna";
  font-weight: bolder;
  font-size: 1.8rem;
  color: #222222;
  text-align: center;
  text-decoration: none;
}

.main-productTypes-item a:hover {
  cursor: pointer;
}
