@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* HEADER/NAV SECTION */
nav .nav-logo-container {
  width: 50%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container img {
  width: auto;
  max-height: inherit;
}

nav .nav-menus-container {
  display: none;
}

/* HAMBURGER MENU */
.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /* de arriba hacia abajo */
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.panel.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  /* bottom y right son los que colocan al botón en la esquina inferior derecha */
  top: 1vh;
  left: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e91e63;
}

.menu {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-family: "Kreon";
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
  transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
  font-weight: bold;
  color: #690e2c;
  background-color: #e91e63;
}

/* Main section */
main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-brands-title {
  width: auto;
  height: 5rem;
  font-family: "Mallanna";
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.main-brands-list {
  width: 100vw;
  height: auto;
}

.main-brands-list li {
  max-width: 60%;
  height: inherit;
  margin-left: 1rem;
  list-style: circle;
  font-family: "Rokkitt";
  font-size: 1.8rem;
}

.main-brands-list li a {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

/* DARK MODE */
.dark-mode-backgroundColor {
  background-color: #222222;
}

.dark-mode-li {
  color: white !important;
}

.dark-mode-title-anchor {
  color: white !important;
}
