@import "../brands-page/variables";
@import "../brands-page/mixins";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


/* HEADER/NAV SECTION */

header {
    display: inline-block;
    width: 100vw;
    height: 10rem;
}

header nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

nav .nav-menu-container {
    display: none;
}

nav .nav-menu-container:hover {
    display: none;
}

nav .nav-logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: 80%;
    height: 100%;
}

nav .nav-menus-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menus-container li {
    @include lisItemStyles1024;
}

.nav-menus-container li a {
    @include listItemAnchorMenusStyles;
}

.nav-menus-container li a:hover {
    @include listItemAnchorMenusStylesHover;
}


/* Main section */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .main-brands-title {
    @include mainBrandsTitleStyle1024;
}

.main-brands-list {
    width: 100vw;
    height: auto;
}

.main-brands-list li {
    @include mainBrandsListItemsStyles1024;
}

.main-brands-list li a {
    text-decoration: none;
}