@import "../brands-page/variables";
@import "../brands-page/mixins";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* HEADER/NAV SECTION */

header {
    display: flex;
    width: 100vw;
    max-height: 5rem;
}

header nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

nav .nav-menu-container {
    display: none;
}

nav .nav-menu-container:hover {
    display: none;
}

nav .nav-logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: 80%;
    height: 100%;
}

nav .nav-menus-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menus-container li {
    @include lisItemStyles1024;
}

.nav-menus-container li a {
    @include listItemAnchorMenusStyles;
    color: black;
}

.nav-menus-container li a:hover {
    @include listItemAnchorMenusStylesHover;
}


/* HAMBURGER MENU */

.panel {
    display: none;
}

.panel.is-active {
    display: none;
}

.panel-btn {
    display: none;
}

.menu {
    display: none;
}

.menu a {
    display: none;
}

.menu a:hover {
    display: none;
}


/* Main section */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .main-brands-title {
    @include mainBrandsTitleStyle1024;
}

.main-brands-list {
    width: 100vw;
    height: auto;
}

.main-brands-list li {
    @include mainBrandsListItemsStyles1280;
}

.main-brands-list li a {
    text-decoration: none;
    color: $darkMainColor;
    cursor: pointer;
}


/* DARK MODE */

.dark-mode-backgroundColor {
    background-color: $darkMainColor;
}

.dark-mode-menus {
    color: $darkSecondaryColor !important;
}

.dark-mode-li {
    color: $darkSecondaryColor !important;
}

.dark-mode-title-anchor {
    color: $darkSecondaryColor !important;
}