@import "../brands-page/variables";
@import "../brands-page/mixins";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}


/* HEADER/NAV SECTION */

header {
    display: inline-block;
    width: 100vw;
    max-height: 3rem;
}

header nav {
    width: inherit;
    height: inherit;
    display: flex;
}

nav .nav-menu-container {
    width: 2rem;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0.6rem 0.6rem 0.6rem 0.6rem;
    background-color: transparent;
    border: none;
}

nav .nav-menu-container:hover {
    background-color: $lightMainColor;
    border-radius: 0.2rem;
    transition: background-color 1s ease 0.1s;
}

nav .nav-logo-container {
    width: 100%;
    max-height: 3rem;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: 10rem;
    max-height: inherit;
}

nav .nav-menus-container {
    display: none;
}


/* Main section */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

main .main-brands-title {
    @include mainBrandsTitleStyle480;
}

.main-brands-list {
    width: 100vw;
    height: auto;
}

.main-brands-list li {
    @include mainBrandsListItemsStyles480;
}

.main-brands-list li a {
    text-decoration: none;
}