@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* HEADER SECTION */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 5rem;
}

header nav {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-logo-container {
  width: 100%;
  max-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container img {
  width: 10rem;
  max-height: inherit;
}

nav .nav-menus-container {
  display: none;
}

/* HAMBURGER MENU */
.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /* de arriba hacia abajo */
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.panel.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  /* bottom y right son los que colocan al botón en la esquina inferior derecha */
  bottom: 2vh;
  right: 2vh;
  /*     bottom: 3vh;
    right: 3vw; */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e91e63;
}

.menu {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-family: "Kreon";
  font-size: 2.5rem;
  text-decoration: none;
  color: #e91e63;
  -webkit-transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
  transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
  font-weight: bold;
  color: #690e2c;
  background-color: #e91e63;
}

/* MAIN SECTION */
main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-item-container {
  width: 80%;
  height: 25rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}

.main-item-container:hover {
  -webkit-box-shadow: 1px 1px 15px 0.5px #e91e63;
          box-shadow: 1px 1px 15px 0.5px #e91e63;
  border-radius: 10px 10px 10px 10px;
}

.main-img-container {
  max-width: 10rem;
  max-height: 10rem;
  margin-top: 0.5rem;
}

.main-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

hr {
  height: 0.1875rem;
  width: 90%;
  margin-top: 0.1rem;
  background-color: black;
}

.main-item-name {
  font-family: "Mallanna";
  color: #690e2c;
  font-size: 2rem;
  font-weight: bolder;
}

.main-item-specs {
  font-family: "Kreon";
  color: black;
  font-size: 1.7rem;
  font-weight: normal;
  margin-top: 0.7rem;
}

.main-item-desc {
  font-family: "Rokkitt";
  color: black;
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1.8rem;
  line-height: 1.125rem;
  text-align: justify;
  max-width: 90%;
}
