@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* HEADER SECTION */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 5rem;
}

header nav {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container {
  width: 50%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-logo-container img {
  width: auto;
  max-height: inherit;
}

nav .nav-menus-container {
  display: none;
}

/* HAMBURGER MENU */
.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.85);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  /* de arriba hacia abajo */
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.panel.is-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  /* bottom y right son los que colocan al botón en la esquina inferior derecha */
  top: 1vh;
  left: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e91e63;
}

.menu {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-family: "Kreon";
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
  transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
  font-weight: bold;
  color: #690e2c;
  background-color: #e91e63;
}

/* MAIN SECTION */
main {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-item-container {
  min-width: 80%;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-item-container .main-item-card {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}

main .main-item-container .main-item-card:hover {
  -webkit-box-shadow: 1px 1px 15px 0.5px #e91e63;
          box-shadow: 1px 1px 15px 0.5px #e91e63;
  border-radius: 10px 10px 10px 10px;
}

.main-img-container {
  max-width: 10rem;
  max-height: 10rem;
  margin-top: 0.5rem;
}

.main-img-container img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
}

hr {
  height: 0.1875rem;
  width: 80%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.main-item-name {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-family: "Mallanna";
  color: #690e2c;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

.main-item-specs {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-family: "Kreon";
  color: black;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.main-item-desc {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-family: "Rokkitt";
  color: black;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1.8rem;
  line-height: 1.125rem;
  text-align: justify;
  max-width: 90%;
  height: 1.5rem;
  overflow: hidden;
}

/* READ MORE BUTTON */
.more {
  position: relative;
  padding: 0.625rem 0.9375rem;
  background: #e91e63;
  color: #222222;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.0625;
  font-size: 1rem;
  font-family: "Kreon";
  border-radius: 1rem;
}

.main-item-card .more::before {
  content: "Read more";
}

.main-item-card.active .more::before {
  content: "Read less";
}

.main-item-card.active .main-item-desc {
  height: auto;
}

/* DARK MODE */
.dark-mode-backgroundColor {
  background-color: #222222;
}

.dark-mode-borderWhite {
  border: 2px solid white;
  /* añadirle al contenedor principal este dataSet */
}

.dark-mode-itemName {
  color: #e91e63;
}

.dark-mode-itemSpecsAndDesc {
  color: white;
}

.modal-container {
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 997;
}

.modal-content {
  min-width: 50vh;
  max-width: 70vh;
  height: 10rem;
  background: white;
  margin: 50vh auto 0 auto;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-self: center;
}

.modal-close-btn {
  margin: 0 auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.modal-specsContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-brandContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-nameContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-priceContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-productTypeContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-tagsContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}

.modal-colorsContainer {
  width: 50%;
  height: 10px;
  max-width: 80%;
  border: 0.1px solid red;
}
