$titlesFont: "Mallanna",
sans-serif;
$mainTitles: "Mallanna",
sans-serif;
$titles: "Kreon",
serif;
$generalText: "Rokkitt",
serif;
$lightMainColor: #e91e63;
$lightSecondaryColor: #690e2c;
$darkMainColor: #222222;
$darkSecondaryColor: white;
$darkThirdColor: #e91e63;