$mainTitles: "Mallanna";
$titles: "Kreon";
$generalText: "Rokkitt";
$lightMainColor: #e91e63;
$lightSecondaryColor: #690e2c;
$darkMainColor: #222222;
$darkSecondaryColor: white;
$darkThirdColor: #e91e63;