@import "./variables.scss";
@import "./mixins.scss";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* HEADER/NAV SECTION */

header {
    display: flex;
    width: 100vw;
    max-height: 5rem;
}

header nav {
    width: inherit;
    max-height: inherit;
    display: flex;
    justify-content: space-between;
}

nav .nav-menu-container {
    display: none;
}

nav .nav-menu-container:hover {
    display: none;
}

nav .nav-logo-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: 80%;
    height: 100%;
}

nav .nav-menus-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menus-container li {
    @include lisItemStyles1024;
}

.nav-menus-container li a {
    @include listItemAnchorMenusStyles;
    color: black;
}

.nav-menus-container li a:hover {
    @include listItemAnchorMenusStylesHover;
}


/* HAMBURGER MENU */

.panel {
    display: none;
}

.panel.is-active {
    display: none;
}

.panel-btn {
    display: none;
}

.menu {
    display: none;
}

.menu a {
    display: none;
}

.menu a:hover {
    display: none;
}


/* MAIN SECTION */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

main .main-item-container {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

main .main-item-container .main-item-card {
    width: 45%;
    max-height: auto;
    min-height: 15rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    @include containerShadow;
    overflow: hidden;
}

.main-item-container .main-item-card:hover {
    @include containerShadowHover;
}

.main-img-container {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 0.5rem;
}

.main-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

hr {
    height: 0.1875rem;
    width: 90%;
    margin-top: 0.1rem;
    background-color: black;
}

.main-item-name {
    @include mainItemNameStyles768;
}

.main-item-specs {
    @include mainItemSpecsStyles768;
}

.main-item-desc {
    @include mainItemDescStyles1024;
}


/* DARK MODE */

.dark-mode-backgroundColor {
    background-color: $darkMainColor;
}

.dark-mode-borderWhite {
    border: 2px solid $darkSecondaryColor;
    /* añadirle al contenedor principal este dataSet */
}

.dark-mode-itemName {
    color: $darkThirdColor;
}

.dark-mode-itemSpecsAndDesc {
    color: $darkSecondaryColor !important;
}

.modal-container {
    width: 100%;
    height: 100%;
    background: $modalBackgroundColor;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 997;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    /* min-width: 65vw;
    max-width: 70vw; */
    min-width: 50vw;
    max-width: 60vw;
    height: auto;
    background: #f6d1de;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-close-btn {
    padding: 0.625rem 0.9375rem;
    background: $lightMainColor;
    margin: 0.9375rem 0 0.3125rem 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: $titles;
    font-weight: normal;
    letter-spacing: 0.0625rem;
    border-radius: 0.625rem;
    border-color: unset;
    border-width: 0;
    border-style: unset;
    border-image: unset;
}

.modal-specsContainer {
    min-width: 95%;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 50vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.modal-specsContainer h2 {
    font-family: $titles;
    font-size: 1.7rem;
    font-weight: bold;
    color: $lightSecondaryColor;
    margin: 0.625rem 0 0.625rem 0;
}

.modal-brandContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.2rem;
}

.modal-nameContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.2rem;
}

.modal-priceContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.2rem;
}

.modal-productTypeContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.2rem;
}

.modal-tagsContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.2rem;
}

.modal-colorsContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-colorsContainer .color-container {
    margin: 0.625rem 0 0.625rem 0;
    border: 1px solid black;
    width: 2.6rem;
    height: 2.6rem;
}