@import "./variables.scss";
@import "./mixins.scss";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* HEADER SECTION */

header {
    display: flex;
    width: 100%;
    max-height: 5rem;
}

header nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container {
    width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: auto;
    max-height: inherit;
}

nav .nav-menus-container {
    display: none;
}


/* HAMBURGER MENU */

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: $modalBackgroundColor;
    transition: transform 0.3s ease;
    /* de arriba hacia abajo */
    transform: translate(0, 100%);
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    /* bottom y right son los que colocan al botón en la esquina inferior derecha */
    bottom: 2vh;
    right: 2vh;
    /*     bottom: 3vh;
    right: 3vw; */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightMainColor;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-family: $titles;
    font-size: 2.5rem;
    text-decoration: none;
    color: $darkSecondaryColor;
    transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
    font-weight: bold;
    color: $lightSecondaryColor;
    background-color: $lightMainColor;
}


/* MAIN SECTION */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-item-container {
    width: 80%;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

main .main-item-container .main-item-card {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    @include containerShadow;
}

.main-item-container .main-item-card:hover {
    @include containerShadowHover;
}

.main-img-container {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 0.5rem;
}

.main-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

hr {
    height: 0.1875rem;
    width: 90%;
    margin-top: 0.1rem;
}

.main-item-name {
    @include mainItemNameStyles768;
}

.main-item-specs {
    @include mainItemSpecsStyles768;
}

.main-item-desc {
    @include mainItemDescStyles768;
}


/* DARK MODE */

.dark-mode-backgroundColor {
    background-color: $darkMainColor;
}

.dark-mode-borderWhite {
    border: 2px solid $darkSecondaryColor;
    /* añadirle al contenedor principal este dataSet */
}

.dark-mode-itemName {
    color: $darkThirdColor;
}

.dark-mode-itemSpecsAndDesc {
    color: $darkSecondaryColor;
}

.modal-container {
    width: 100%;
    height: 100%;
    background: $modalBackgroundColor;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 997;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    min-width: 65vw;
    max-width: 70vw;
    height: auto;
    background: #f6d1de;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-close-btn {
    padding: 0.625rem 0.9375rem;
    background: $lightMainColor;
    margin: 0.9375rem 0 0.3125rem 0;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: $titles;
    font-weight: normal;
    letter-spacing: 0.0625rem;
    border-radius: 0.625rem;
    border-color: unset;
    border-width: 0;
    border-style: unset;
    border-image: unset;
}

.modal-specsContainer {
    min-width: 95%;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 50vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.modal-specsContainer h2 {
    font-family: $titles;
    font-size: 1.6rem;
    font-weight: bold;
    color: $lightSecondaryColor;
    margin: 0.625rem 0 0.625rem 0;
}

.modal-brandContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.1rem;
}

.modal-nameContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.1rem;
}

.modal-priceContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.1rem;
}

.modal-productTypeContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.1rem;
}

.modal-tagsContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    text-align: center;
    font-family: $generalText;
    font-size: 1.1rem;
}

.modal-colorsContainer {
    min-width: 60%;
    max-width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-colorsContainer .color-container {
    margin: 0.625rem 0 0.625rem 0;
    border: 1px solid black;
    width: 2.5rem;
    height: 2.5rem;
}