@import "./variables.scss";
@import "./mixins.scss";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: inline-block;
    width: 100vw;
    max-height: 3rem;
}

header nav {
    display: flex;
    width: inherit;
    height: inherit;
    position: relative;
}

nav .nav-menu-container {
    width: 2rem;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0.6rem 0.6rem 0.6rem 0.6rem;
    background-color: transparent;
    border: none;
}

nav .nav-menu-container:hover {
    background-color: $lightMainColor;
    border-radius: 0.2rem;
    transition: background-color 1s ease 0.1s;
}

nav .nav-logo-container {
    align-items: center;
    width: 10rem;
    max-height: 3rem;
}

nav .nav-logo-container img {
    width: 10rem;
    max-height: 3rem;
    position: absolute;
    left: calc(50% - 50px);
}