@import "./variables.scss";
@import "./mixins.scss";
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}


/* HEADER SECTION */

header {
    display: flex;
    width: 100%;
    max-height: 5rem;
}

header nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container {
    width: 50%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

nav .nav-logo-container img {
    width: auto;
    max-height: inherit;
}

nav .nav-menus-container {
    display: none;
}


/* HAMBURGER MENU */

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: $modalBackgroundColor;
    transition: transform 0.3s ease;
    /* de arriba hacia abajo */
    transform: translate(0, 100%);
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    /* bottom y right son los que colocan al botón en la esquina inferior derecha */
    top: 1vh;
    left: 1vh;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightMainColor;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-family: $titles;
    font-size: 1.5rem;
    text-decoration: none;
    color: $darkSecondaryColor;
    transition: background-color 300ms ease, color 300ms ease, font-weight 300ms ease;
}

.menu a:hover {
    font-weight: bold;
    color: $lightSecondaryColor;
    background-color: $lightMainColor;
}


/* MAIN SECTION */

main {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .main-item-container {
    min-width: 80%;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

main .main-item-container .main-item-card {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    @include containerShadow;
}

main .main-item-container .main-item-card:hover {
    @include containerShadowHover;
}

.main-img-container {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 0.5rem;
}

.main-img-container img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
}

hr {
    height: 0.1875rem;
    width: 80%;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.main-item-name {
    @include mainItemNameStyles480;
}

.main-item-specs {
    @include mainItemSpecsStyles480;
}

.main-item-desc {
    @include mainItemDescStyles480;
}


/* READ MORE BUTTON */

.more {
    position: relative;
    padding: 0.625rem 0.9375rem;
    background: $darkThirdColor;
    color: $darkMainColor;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.0625;
    font-size: 1rem;
    font-family: $titles;
    border-radius: 1rem;
}

.main-item-card .more::before {
    content: "Read more";
}

.main-item-card.active .more::before {
    content: "Read less";
}

.main-item-card.active .main-item-desc {
    height: auto;
}


/* DARK MODE */

.dark-mode-backgroundColor {
    background-color: $darkMainColor;
}

.dark-mode-borderWhite {
    border: 2px solid $darkSecondaryColor;
    /* añadirle al contenedor principal este dataSet */
}

.dark-mode-itemName {
    color: $darkThirdColor;
}

.dark-mode-itemSpecsAndDesc {
    color: $darkSecondaryColor;
}

.modal-container {
    width: 100%;
    height: 100%;
    background: $modalBackgroundColor;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 997;
}

.modal-content {
    min-width: 50vh;
    max-width: 70vh;
    height: 10rem;
    background: white;
    margin: 50vh auto 0 auto;
    // margin: 0 auto;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-self: center;
}

.modal-close-btn {
    margin: 0 auto;
    justify-self: center;
}

.modal-specsContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-brandContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-nameContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-priceContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-productTypeContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-tagsContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}

.modal-colorsContainer {
    width: 50%;
    height: 10px;
    max-width: 80%;
    @include debugger;
}